h1 {
  font-family: helvetica, arial, sans-serif;
  text-align: center;
}

body {
  width: 640px;
  margin: 0 auto;
  padding-bottom:150px;
}

.full-img {
  position: relative;
   display: block;
   width: 640px;
}

.thumb-bar img {
  display: block;
  width: 20%;
  float: left;
  cursor: pointer;
  position: relative;
}
footer{margin: auto;
  width: auto;
  display: inside;
  position:bottom;
  padding-top:150px
}
.button{  background: linear-gradient(135deg, rgba(209,209,209,1) 0%, rgba(209,209,209,0.85) 21%, rgba(254,254,254,0.65) 49%, rgba(254,254,254,0.3) 99%);
  background-color: #008CBA; /* blue */
  border: 1px solid #003683; /* darkblue */
  color: #008CBA; /*blue */
  width: auto;
  padding: 15px 32px;
  border-radius: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.8rem;
  text-shadow: 2px 2px black;
  box-shadow: 2px 2px black;}
